@import "../node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background-image: url(https://storage.rottigni.tech/fs/portfolio_rottigni_tech/static_content/images/boolean/boolean_logo.png);
    background-repeat: repeat;
    background-size: contain;
    background-color: #1f1f1f;
}